In [1]:
import numpy as np
import pandas as pd

In [2]:
genres = pd.read_csv('data/movie_genres.csv').drop('Unnamed: 0', axis=1)
genres.head()

,movie_title,genre_action,genre_adventure,genre_animation,genre_biography,genre_comedy,genre_crime,genre_documentary,genre_drama,genre_family,...,genre_mystery,genre_news,genre_reality-tv,genre_romance,genre_sci-fi,genre_short,genre_sport,genre_thriller,genre_war,genre_western
0,The Net,1,0,0,0,0,1,0,1,0,...,1,0,0,0,0,0,0,1,0,0
1,Happily N'Ever After,0,1,1,0,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
2,Tomorrowland,1,1,0,0,0,0,0,0,1,...,1,0,0,0,1,0,0,0,0,0
3,American Hero,1,0,0,0,1,0,0,1,0,...,0,0,0,0,1,0,0,0,0,0
4,Das Boot,0,1,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,1,1,0

In [3]:
X = genres.drop(columns=['movie_title'])
X.head()

,genre_action,genre_adventure,genre_animation,genre_biography,genre_comedy,genre_crime,genre_documentary,genre_drama,genre_family,genre_fantasy,...,genre_mystery,genre_news,genre_reality-tv,genre_romance,genre_sci-fi,genre_short,genre_sport,genre_thriller,genre_war,genre_western
0,1,0,0,0,0,1,0,1,0,0,...,1,0,0,0,0,0,0,1,0,0
1,0,1,1,0,1,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
2,1,1,0,0,0,0,0,0,1,0,...,1,0,0,0,1,0,0,0,0,0
3,1,0,0,0,1,0,0,1,0,0,...,0,0,0,0,1,0,0,0,0,0
4,0,1,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,1,1,0

In [4]:
reviews = pd.read_csv('data/user_reviews.csv').drop('Unnamed: 0', axis=1)
reviews.count()

User                     600
The Net                  600
Happily N'Ever After     600
Tomorrowland             600
American Hero            600
                        ...
Big Fish                 600
Get Real                 600
Trading Places           600
DOA: Dead or Alive       600
Hey Arnold! The Movie    600
Length: 2001, dtype: int64

In [5]:
# Limit amount of users to 5
y = reviews.head(5)
y

,User,The Net,Happily N'Ever After,Tomorrowland,American Hero,Das Boot,Final Destination 3,Licence to Kill,The Hundred-Foot Journey,The Matrix,...,The Martian,Micmacs,Solomon and Sheba,In the Company of Men,Silent House,Big Fish,Get Real,Trading Places,DOA: Dead or Alive,Hey Arnold! The Movie
0,Vincent,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Edgar,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Addilyn,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Marlee,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Javier,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [6]:
# Use this to remove unrated movies from the loss function
r = y.astype('bool').astype('int')

In [7]:
# Initialise the user's features, starting with random
# Columns are 25 features and rows are 600 users (changed to 5)
# y_shape = (X.shape[1], reviews.shape[0])
theta = pd.DataFrame(np.random.random((5, 25)))
# theta.head()
theta

,0,1,2,3,4,5,6,7,8,9,...,15,16,17,18,19,20,21,22,23,24
0,0.000108,0.887797,0.504205,0.136096,0.194494,0.607874,0.565551,0.941655,0.569895,0.949296,...,0.184798,0.111877,0.000013,0.543406,0.390516,0.909604,0.859236,0.154964,0.772264,0.432009
1,0.143642,0.888581,0.304131,0.702437,0.952609,0.027689,0.325648,0.101302,0.491287,0.971621,...,0.770933,0.530315,0.759894,0.036298,0.422938,0.285150,0.709077,0.914524,0.275597,0.814530
2,0.748244,0.506050,0.238572,0.032909,0.117740,0.663750,0.486524,0.940651,0.384683,0.326248,...,0.161193,0.763079,0.789781,0.236846,0.318193,0.946108,0.708048,0.233251,0.155047,0.741752
3,0.724179,0.655571,0.636171,0.316830,0.275003,0.300462,0.247803,0.213863,0.509087,0.328180,...,0.821370,0.641889,0.080811,0.503829,0.405692,0.736098,0.593038,0.422623,0.858617,0.920588
4,0.010546,0.288565,0.735432,0.834574,0.104929,0.921374,0.375172,0.703290,0.145067,0.654591,...,0.538711,0.709982,0.358451,0.005194,0.281279,0.171292,0.893129,0.011452,0.573926,0.690373

In [8]:
y = y.drop('User', axis=1)
y

,The Net,Happily N'Ever After,Tomorrowland,American Hero,Das Boot,Final Destination 3,Licence to Kill,The Hundred-Foot Journey,The Matrix,Creature,...,The Martian,Micmacs,Solomon and Sheba,In the Company of Men,Silent House,Big Fish,Get Real,Trading Places,DOA: Dead or Alive,Hey Arnold! The Movie
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [9]:
# (users, movies)
y.shape

(5, 2000)

In [10]:
# (movies, features)
X.shape

(2000, 25)

In [11]:
# (
r.shape

(5, 2001)

In [15]:

def g(X, y, r, theta):
    def cost(X, y, r, theta, eta=0.01):
        """Returns a prediction of the """
        predictions = np.dot(X, theta.T).T
        print(X.shape, y.shape, predictions.shape)
        err = predictions - y
        # Make no reviews 0 again, but keep the same dimension
        return 1/2 * np.sum(np.square(err) * r)
        # return 1 / 2 * np.sum(errors * r)

    X = X.copy()
    theta = theta.copy()
    J_hist = []
    for i in range(5):
        c = cost(X, y, r, theta)
        inside = np.dot(X, theta.T).T - y
        theta = theta - alpha * np.dot(inside, X)

        # theta = theta - alpha * (np.dot())
        J_hist.append(c)

    return X, theta, J_hist
# y.shape, cost().shape
eta = 0.01
alpha = 0.001
X, theta, J_hist = g(X, y, r, theta)

(2000, 25) (5, 2000) (5, 2000)
(2000, 25) (5, 2000) (5, 2000)
(2000, 25) (5, 2000) (5, 2000)
(2000, 25) (5, 2000) (5, 2000)
(2000, 25) (5, 2000) (5, 2000)

In [ ]:
# import math
#
# FILMS = 2000
# USERS = 1
# FEATURES = 25
#
# def cost_function(theta_init=None, num_iter=500):
#     def step():
#         out = []
#         for i in range(FEATURES):
#             out_k = []
#             # for k in range(FEATURES):
#             inside = np.dot(theta_j.T, X.iloc[i]) - y.iloc[j, i]
#             out.append(inside[0])
#             # out.append(np.dot(inside, X.iloc[i]))
#             # out_k.append(np.dot(inside, X.iloc[i, k]))
#             # out.append(out_k)
#         return pd.DataFrame(pd.Series(out))
#         # return np.array(out) * r.iloc[j]
#
#     # Works for a single user
#     if not theta_init:
#         theta_init = pd.DataFrame(np.random.random((X.shape[1], 1)))
#     # if not y:
#     #     y = pd.DataFrame(np.ones(theta_init.shape))
#     for j in range(USERS):
#         # For some reason .iloc[0:0] includes the heading
#         theta_j = theta_init.copy()
#
#         for _ in range(num_iter):
#             out = []
#             for i in range(1, FILMS+1):
#                 y_i = reviews.iloc[j, i]
#                 # No review given so skip
#                 if not y_i:
#                     continue
#                 y_hat = np.dot(theta_j.T, X.iloc[i])
#                 out.append(np.square(y_hat - y_i))
#             # theta_j = gradient_descent(0.001, theta_j, X_i)
#             sum_ = np.sum(np.array(out))
#             # print(sum_)
#             theta_j = theta_j + alpha * step()
#         break


# reviews.iloc[0]
# cost_function()
# reviews.head()
# np.square(4)
# pd.DataFrame(np.random.random(X.shape[1]))