In [1]:
import numpy as np
import pandas as pd

In [2]:
genres = pd.read_csv('data/movie_genres.csv').drop('Unnamed: 0', axis=1)
genres.head()

,movie_title,genre_action,genre_adventure,genre_animation,genre_biography,genre_comedy,genre_crime,genre_documentary,genre_drama,genre_family,...,genre_mystery,genre_news,genre_reality-tv,genre_romance,genre_sci-fi,genre_short,genre_sport,genre_thriller,genre_war,genre_western
0,The Net,1,0,0,0,0,1,0,1,0,...,1,0,0,0,0,0,0,1,0,0
1,Happily N'Ever After,0,1,1,0,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
2,Tomorrowland,1,1,0,0,0,0,0,0,1,...,1,0,0,0,1,0,0,0,0,0
3,American Hero,1,0,0,0,1,0,0,1,0,...,0,0,0,0,1,0,0,0,0,0
4,Das Boot,0,1,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,1,1,0

In [3]:
X = genres.drop(columns=['movie_title'])
X.head()

,genre_action,genre_adventure,genre_animation,genre_biography,genre_comedy,genre_crime,genre_documentary,genre_drama,genre_family,genre_fantasy,...,genre_mystery,genre_news,genre_reality-tv,genre_romance,genre_sci-fi,genre_short,genre_sport,genre_thriller,genre_war,genre_western
0,1,0,0,0,0,1,0,1,0,0,...,1,0,0,0,0,0,0,1,0,0
1,0,1,1,0,1,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
2,1,1,0,0,0,0,0,0,1,0,...,1,0,0,0,1,0,0,0,0,0
3,1,0,0,0,1,0,0,1,0,0,...,0,0,0,0,1,0,0,0,0,0
4,0,1,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,1,1,0

In [4]:
reviews = pd.read_csv('data/user_reviews.csv').drop('Unnamed: 0', axis=1)
reviews.count()

User                     600
The Net                  600
Happily N'Ever After     600
Tomorrowland             600
American Hero            600
                        ...
Big Fish                 600
Get Real                 600
Trading Places           600
DOA: Dead or Alive       600
Hey Arnold! The Movie    600
Length: 2001, dtype: int64

In [5]:
# Limit amount of users to 5
y = reviews.head(5)
y

,User,The Net,Happily N'Ever After,Tomorrowland,American Hero,Das Boot,Final Destination 3,Licence to Kill,The Hundred-Foot Journey,The Matrix,...,The Martian,Micmacs,Solomon and Sheba,In the Company of Men,Silent House,Big Fish,Get Real,Trading Places,DOA: Dead or Alive,Hey Arnold! The Movie
0,Vincent,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Edgar,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Addilyn,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Marlee,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Javier,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [6]:
# Use this to remove unrated movies from the loss function
r = y.astype('bool').astype('int')

In [7]:
# Initialise the user's features, starting with random
# Columns are 25 features and rows are 600 users (changed to 5)
# y_shape = (X.shape[1], reviews.shape[0])
theta = pd.DataFrame(np.random.random((5, 25)))
# theta.head()
theta

,0,1,2,3,4,5,6,7,8,9,...,15,16,17,18,19,20,21,22,23,24
0,0.000108,0.887797,0.504205,0.136096,0.194494,0.607874,0.565551,0.941655,0.569895,0.949296,...,0.184798,0.111877,0.000013,0.543406,0.390516,0.909604,0.859236,0.154964,0.772264,0.432009
1,0.143642,0.888581,0.304131,0.702437,0.952609,0.027689,0.325648,0.101302,0.491287,0.971621,...,0.770933,0.530315,0.759894,0.036298,0.422938,0.285150,0.709077,0.914524,0.275597,0.814530
2,0.748244,0.506050,0.238572,0.032909,0.117740,0.663750,0.486524,0.940651,0.384683,0.326248,...,0.161193,0.763079,0.789781,0.236846,0.318193,0.946108,0.708048,0.233251,0.155047,0.741752
3,0.724179,0.655571,0.636171,0.316830,0.275003,0.300462,0.247803,0.213863,0.509087,0.328180,...,0.821370,0.641889,0.080811,0.503829,0.405692,0.736098,0.593038,0.422623,0.858617,0.920588
4,0.010546,0.288565,0.735432,0.834574,0.104929,0.921374,0.375172,0.703290,0.145067,0.654591,...,0.538711,0.709982,0.358451,0.005194,0.281279,0.171292,0.893129,0.011452,0.573926,0.690373

In [8]:
y = y.drop('User', axis=1)
y

,The Net,Happily N'Ever After,Tomorrowland,American Hero,Das Boot,Final Destination 3,Licence to Kill,The Hundred-Foot Journey,The Matrix,Creature,...,The Martian,Micmacs,Solomon and Sheba,In the Company of Men,Silent House,Big Fish,Get Real,Trading Places,DOA: Dead or Alive,Hey Arnold! The Movie
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [9]:
# (users, movies)
y.shape

(5, 2000)

In [10]:
# (movies, features)
X.shape

(2000, 25)

In [11]:
# (
r.shape

(5, 2001)

In [74]:

def g(X, y, r, theta, num_iter=100):
    def cost(X, y, r, theta, eta=0.01):
        """Returns a prediction of the """
        predictions = np.dot(X, theta.T).T
        err = predictions - y
        # Make no reviews 0 again, but keep the same dimension
        return 1/2 * np.sum(np.sum(np.square(err) * r))
        # return 1 / 2 * np.sum(errors * r)

    X = X.copy()
    theta = theta.copy()
    J_hist = []
    for i in range(num_iter):
        # c = cost(X, y, r, theta)
        # inside = np.dot(X, theta.T).T - y
        # theta = theta - (alpha * np.dot(inside, X))

        c = cost(X, y, r, theta)
        print(c)
        # inside = np.dot(X, theta.T).T - y
        # X = np.dot(inside, theta).T - y
        X = X -  alpha*(np.dot(np.dot(X, theta.T) - y.T, theta) + eta*X)
        theta = theta - alpha*(np.dot((np.dot(X, theta.T) - y.T).T, X) + eta*theta)

        # inside = np.dot(X, theta.T).T - y
        # theta = theta - (alpha * np.dot(inside, X))


        # theta = theta - alpha * (np.dot())
        J_hist.append(c)

    return X, theta, J_hist
# y.shape, cost().shape
eta = 0.01
alpha = 0.001
X, theta, J_hist = g(X, y, r, theta)

28.7577968421581
28.316686863506177
27.883061440625397
27.45670283410822
27.03740166489687
26.624956664214153
26.219174425507312
25.81986915885306
25.426862448221765
25.039983011952785
24.659066466749508
24.283955095462563
23.91449761889284
23.550548971811633
23.19197008336396
22.838627661992312
22.490393984992036
22.14714669278548
21.808768587980676
21.475147439260603
21.14617579013165
20.821750772543915
20.501773925382313
20.186151017814506
19.8747918774708
19.567610223421582
19.264523503908876
18.965452738781867
18.670322366578844
18.379060096193825
18.091596763059975
17.8078661897795
17.527805051125185
17.251352743337076
16.97845125763507
16.709045057867023
16.443080962210438
16.180508028845267
15.921277445514725
15.665342422890966
15.412658091662216
15.163181403258712
14.916871034134818
14.673687293525521
14.433592034596218
14.196548568905513
13.962521584101678
13.731477064774602
13.503382216385688
13.278205392199887
13.05591602314458
12.836484550521558
12.619882361499425
12.406081727314689
12.195055744111372
11.98677827634976
11.781223902716253
11.578367864467273
11.378186016141452
11.180654778575214
10.985751094158061
10.793452384264945
10.60373650880387
10.416581727818278
10.231966665084364
10.04987027364458
9.870271803219584
9.693150769441667
9.518486924853619
9.34626023161802
9.17645083588247
9.009039043747553
8.844005298784772
8.681330161052779
8.520994287560889
8.362978414129769
8.20726333859993
8.053829905339441
7.902658991003199
7.753731491496648
7.607028310097871
7.4625303466925965
7.320218488077553
7.180073599288262
7.042076515908385
6.906208037318217
6.7724489208410255
6.640779876746527
6.511181564071688
6.3836345872198095
6.25811949329972
6.134616770167646
6.013106845135241
5.8935700843079974
5.77598679251912
5.6603372138248735
5.54660153252807
5.4347598746974
5.324792310150999
5.216678854873619

In [51]:
theta

,0,1,2,3,4,5,6,7,8,9,...,15,16,17,18,19,20,21,22,23,24
0,0.096953,-0.014263,0.029102,-0.021166,-0.019090,-0.065839,-0.018785,0.114637,-0.062756,0.084557,...,0.003281,0.071162,-0.040097,0.062343,-0.006266,0.494847,-0.043656,0.012375,-0.099217,-0.080683
1,-0.021158,-0.020521,0.108952,-0.071606,-0.021343,0.011793,0.086032,0.073742,-0.063724,0.030961,...,-0.023822,0.243364,0.540705,0.019263,0.053758,0.117854,0.046402,0.014052,0.052800,0.098190
2,-0.008304,0.019690,-0.004154,0.001652,0.100054,0.029220,-0.055838,0.028884,-0.014371,0.027366,...,-0.062295,0.419603,0.553812,-0.029372,-0.005383,0.490030,0.058077,0.023542,-0.027124,-0.040913
3,-0.022466,0.008826,-0.065817,-0.022734,0.045887,0.022634,-0.038664,0.043353,0.027369,-0.001225,...,0.020539,0.355166,0.045617,-0.030557,0.013488,0.376737,0.040325,0.038587,0.006676,0.078423
4,0.015877,-0.013582,0.153678,0.073914,0.033916,-0.028457,-0.037193,0.038208,0.112417,-0.005539,...,-0.010707,0.398480,0.254180,-0.028378,-0.035206,0.096125,-0.009596,0.001398,0.021289,-0.019838

In [52]:
y

,The Net,Happily N'Ever After,Tomorrowland,American Hero,Das Boot,Final Destination 3,Licence to Kill,The Hundred-Foot Journey,The Matrix,Creature,...,The Martian,Micmacs,Solomon and Sheba,In the Company of Men,Silent House,Big Fish,Get Real,Trading Places,DOA: Dead or Alive,Hey Arnold! The Movie
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [53]:
user_reviews = {}
for u in range(5):
    uname = reviews.iloc[u]['User']
    print(uname)
    existing_reviews = {
        f: y.iloc[u][f]
        for f in y.columns.tolist()
        if y.iloc[u][f]
    }
    user_reviews[uname] = existing_reviews

Vincent
Edgar
Addilyn
Marlee
Javier

In [127]:
y_hat = y.copy()
theta

,0,1,2,3,4,5,6,7,8,9,...,15,16,17,18,19,20,21,22,23,24
0,0.166078,-0.059046,0.209096,-0.040406,-0.028766,-0.127994,0.050001,0.151387,-0.185033,0.127344,...,0.007195,-0.772400,-1.261794,0.076323,-0.031396,4.140918,-0.134143,-0.004514,-0.235558,-0.198649
1,-0.039214,-0.093787,0.366697,-0.294829,-0.044275,0.009133,0.685856,0.067504,-0.271974,0.063576,...,-0.018704,-0.250333,2.896410,0.006492,0.130906,-0.282570,0.182810,0.009336,0.064782,1.218450
2,-0.007835,0.077236,-0.174014,0.111488,0.112987,0.052530,-0.521166,0.025593,0.072538,0.017488,...,-0.086713,1.605184,3.125114,-0.042941,-0.054418,2.096890,0.064025,0.031866,-0.020428,-0.804767
3,-0.079057,-0.028388,-0.162043,-0.206900,0.049863,0.041346,0.120716,0.024652,0.034641,0.011597,...,0.050348,3.366858,-1.287979,-0.052901,0.078772,0.568289,0.220339,0.050335,0.020122,1.277165
4,0.067202,-0.007915,0.306048,0.269248,0.035630,-0.082853,-0.331692,0.056336,0.158399,-0.040500,...,-0.042691,2.084333,0.051328,-0.011937,-0.092371,-0.813348,-0.160709,-0.003630,0.059298,-0.744204

In [148]:
y_hat = y.copy()

for u in range(5):
    uname = reviews.iloc[u]['User']
    print(uname)
    user_features = theta.iloc[u]
    scores = []
    for i, f in enumerate(y_hat.columns.tolist()):
        film_features = X.iloc[i]
        score = np.dot(film_features, user_features)
        # scores.append(score)
        y_hat.iloc[u][f] = score
    best_choices = y_hat.drop(columns=list(user_reviews[uname].keys()), inplace=False).iloc[u].sort_values(ascending=False)
    print(best_choices.head(5))

    # break
# sorted(scores, reverse=True)[0:20]

Vincent
The Lady from Shanghai    0.032655
Rebecca                   0.032486
Niagara                   0.032390
Deadline - U.S.A.         0.032244
Paint Your Wagon          0.027868
Name: 0, dtype: float64
Edgar
Paint Your Wagon                                     0.724341
The Alamo                                            0.605179
The Newton Boys                                      0.601513
The Legend of Hell's Gate: An American Conspiracy    0.571871
Back to the Future Part III                          0.546263
Name: 1, dtype: float64
Addilyn
Now You See Me 2                 0.238249
The Haunting of Molly Hartley    0.236204
Machete Kills                    0.234616
Eden                             0.226793
Brother                          0.219956
Name: 2, dtype: float64
Marlee
Paint Your Wagon                                     0.811389
The Alamo                                            0.679395
The Newton Boys                                      0.675319
The Legend of Hell's Gate: An American Conspiracy    0.641812
Back to the Future Part III                          0.613143
Name: 3, dtype: float64
Javier
The Haunting of Molly Hartley    0.515294
Now You See Me 2                 0.514050
Machete Kills                    0.509059
Eden                             0.493752
Brother                          0.475669
Name: 4, dtype: float64

In [132]:
y_hat.shape

(5, 2000)

In [124]:
victors_choices = y_hat.iloc[0].sort_values(ascending=False).index.tolist()
list(user_reviews['Vincent'].keys())

dict_keys(['About Last Night', 'Shattered', 'Passchendaele', 'Broken Arrow', 'Songcatcher', 'The Importance of Being Earnest', 'R.I.P.D.', 'Shine', 'The Scarlet Letter', 'Risen', 'Thirteen Conversations About One Thing', 'City of Angels', 'The Amazing Spider-Man 2', 'Nicholas Nickleby', 'Superman', 'Dawn of the Planet of the Apes', 'Predators', 'True Romance', "The General's Daughter", 'Riddick', "Surf's Up", 'Crossroads', 'About Time', 'House at the End of the Street', '3 Days to Kill', 'Magnolia', 'The Curious Case of Benjamin Button', 'The Secret Life of Walter Mitty', 'The Dangerous Lives of Altar Boys', 'Iris', 'In the Name of the King: A Dungeon Siege Tale', 'Across the Universe', 'Shopgirl', 'No Strings Attached', 'You Can Count on Me', 'Next Day Air', 'Enter Nowhere', 'Tidal Wave', 'Stone Cold'])

In [141]:
y_hat

,The Net,Happily N'Ever After,Tomorrowland,American Hero,Das Boot,Final Destination 3,Licence to Kill,The Hundred-Foot Journey,The Matrix,Creature,...,The Martian,Micmacs,Solomon and Sheba,In the Company of Men,Silent House,Big Fish,Get Real,Trading Places,DOA: Dead or Alive,Hey Arnold! The Movie
0,-0.000074,-0.002503,-0.001976,0.000476,-0.001202,-0.000612,-0.001420,-0.000369,0.000845,0.000912,...,0.000467,-0.000733,0.002336,-0.000369,-0.000262,-0.000390,-0.000433,-0.000309,-0.001505,-0.003086
1,0.005551,-0.075340,-0.041855,0.005547,-0.024928,-0.017220,-0.037979,-0.011327,0.016875,0.027113,...,0.015692,-0.017502,0.066303,-0.011327,-0.001979,-0.009869,-0.015336,-0.007812,-0.042847,-0.089243
2,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [138]:
reviews.iloc[1]['User']

'Edgar'